body {
  font-family: arial;
  margin: 0;
  padding: none;
}

.game {
    text-align: center; 
    max-width: 960px;
    margin: 0 auto;
}

.info { 
    left: 0;
    right: 0;
    text-align: center; 
}     

.instructions {
  text-align: center; 
  margin: 0 auto;
  width: 600px;
}

#topbar {
    height: 80px;
    background-color: beige;
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas { 
    border: 0px none; 
    background-color: black;
    margin: 0px;
    width: 100%;
    text-align: center;}

#spinner {
  height: 30px;
  width: 30px;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;

  -webkit-animation: rotation .8s linear infinite;
  -moz-animation: rotation .8s linear infinite;
  -o-animation: rotation .8s linear infinite;
  animation: rotation 0.8s linear infinite;

  border-left: 5px solid rgb(235, 235, 235);
  border-right: 5px solid rgb(235, 235, 235);
  border-bottom: 5px solid rgb(235, 235, 235);
  border-top: 5px solid rgb(120, 120, 120);
  
  border-radius: 100%;
  background-color: rgb(189, 215, 46);
}

.controls {
    background-color: lightgray;
    width: 100%;
    height: 50px;
    font-size: large;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#status {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 20px;
  font-weight: bold;
  color: rgb(120, 120, 120);
}

#progress {
  height: 20px;
  width: 300px;
}